{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-sm col-md-6 col-lg-5">
        <div class="card-body p-4 text-center">
            <h2 class="text-success mb-4">Password Changed Successfully</h2>
            <p>Your password has been updated successfully. You can now continue using the site with your new password.</p>
            
            <a href="{% url 'accounts:profile' %}" class="btn btn-warning mt-3 w-100">Go to Profile</a>
           
        </div>
    </div>
</div>
{% endblock %}