{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h1>Product List</h1>

    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.id %}">
                    <strong>{{ product.name }}</strong>
                </a> - ${{ product.price }} <br>
                {{ product.description }} <br>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200px">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
