{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<div class="container">
    

    <!-- Filtering by category -->
    <div class="filter-options mb-4">
        <div class="d-flex justify-content-center flex-wrap gap-2">
            <h5 class="text-center mb-3">Filter by Category:</h5>
            <a href="?" class="btn btn-outline-secondary">All Categories</a>
            {% for category in categories %}
            <a href="?category={{ category.slug }}" class="btn btn-outline-secondary">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>


    <!-- Sorting options -->
    <div class="sort-options mb-4 text-center">
        <label class="form-label">Sort by:</label>
        <a href="?sort=name" class="btn btn-outline-secondary btn-sm">Name</a>
        <a href="?sort=price" class="btn btn-outline-secondary btn-sm">Price (Low to High)</a>
        <a href="?sort=price_desc" class="btn btn-outline-secondary btn-sm">Price (High to Low)</a>
        <a href="?sort=date" class="btn btn-outline-secondary btn-sm">Newest</a>
    </div>

    <!-- Product Grid -->
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-5 d-flex justify-content-center">
            <div class="card text-center border-0" style="width: 18rem;">
                <!-- Link na zdjęciu -->
                <a href="{% url 'products:product_detail' product.id %}">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top rounded-4" alt="{{ product.name }}"
                        style="border-radius: 0;">
                    {% else %}
                    <img src="https://via.placeholder.com/200" class="card-img-top" alt="Placeholder Image"
                        style="border-radius: 0;">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title mt-3">{{ product.name }}</h5>
                    <p class="card-text text-muted">{{ product.category }}</p>
                    <p class="card-text">£{{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}