{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container m-5 mx-auto">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Contact Us</h1>
      <p class="text-center mb-5">
        If you have any questions, feel free to reach out to us via the contact form below or at our email address.
      </p>

      {% if form.errors %}
        <div class="alert alert-danger">
          <ul>
            {% for field, errors in form.errors.items %}
              <li>{{ field.label }}: {{ errors|join:", " }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        
        <div class="form-group">
          {{ form.name.label_tag }}
          {{ form.name }}
        </div>

        <div class="form-group mt-3">
          {{ form.email.label_tag }}
          {{ form.email }}
        </div>

        <div class="form-group mt-3">
          {{ form.message.label_tag }}
          {{ form.message }}
        </div>

        <button type="submit" class="btn btn-warning btn-block mt-4 w-100">Send</button>
      </form>

    </div>
    <div class="col-md-6 d-none d-md-block">
      <img src="{% static 'images/contact.webp' %}" class="img-fluid rounded-image" alt="Contact image">
    </div>
  </div>
</div>
{% endblock %}
