{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container m-5">
  <div class="row align-items-center">
    <div class="col-md-6 ps-5">
      <h1 class="text-center mb-4">Contact Us</h1>
      <p class="text-center mb-5">If you have any questions, feel free to reach out to us via the contact form below or at our email address.</p>

      <!-- Django form start -->
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name">Name:</label>
          {{ form.name }}
        </div>
        <div class="form-group">
          <label for="id_email">Email:</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="id_message">Message:</label>
          {{ form.message }}
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3 w-25 text-center">Send</button>
      </form>
      <!-- Django form end -->

    </div>
    <div class="col-md-6 overflow-hidden banner">
      <img src="{% static 'images/contact.webp' %}" class="img-fluid rounded-image" alt="art images">
    </div>
  </div>
</div>

{% endblock %}
